@page "/"

<MudGrid>
    <MudItem>
        <h1>NutriFinder</h1>
    </MudItem>
    <MudItem>
        <MudForm @ref="form">
            <MudTextField T="string" Label="Food" @ref="food" />


            <MudPaper Class="pa-4 mt-4">
                <MudButton Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@(()=>form.Validate())">Search</MudButton>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="@(()=>form.ResetAsync())" Class="mx-2">Reset</MudButton>
            </MudPaper>
        </MudForm>
    </MudItem>
</MudGrid>


@code {
    MudForm form;
    MudTextField<string> food;
}
