@page "/"


    <MudItem Style="">
     <!-- <h1 style="text-align: center">NutriFinder</h1> -->  
    </MudItem>


<MudPaper Outlined=false Class="d-flex justify-center flex-row flex-grow-1 gap-4" Elevation="0">

        <MudForm @ref="form">

        <MudPaper Class="d-inline-flex mr-12" Elevation="0"><MudTextField Class="border-solid border-4 mud-border-info" T="string" Label="Food" @ref="food" Margin="Margin.Dense" /></MudPaper>


            <MudPaper Class="d-inline-flex" Outlined=false Elevation="0">
            <MudButton Class="mr-8 rounded-pill " Variant="Variant.Filled" Color="Color.Primary" DisableElevation="true" OnClick="@(()=>form.Validate())">Search</MudButton>
            <MudButton Class="rounded-pill" Variant="Variant.Filled" Color="Color.Secondary" DisableElevation="true" OnClick="@(()=>form.ResetAsync())">Reset</MudButton>
        </MudPaper>
        </MudForm>
    </MudPaper>
<MudContainer Fixed=true MaxWidth="MaxWidth.Medium">
    <MudPaper Width="33%" Class="mx-auto pr-0 pl-0 d-flex justify-center mt-16 border-solid border-4 mud-border-success" Outlined=true Square=true>

        <MudPaper Class="d-flex justify-center flex-row flex-grow-1 gap-4 mx-auto pr-1 pl-1" Elevation="0">
            <MudPaper Class="d-flex justify-start flex-column" Elevation="0">
                <MudListItem>Food</MudListItem>
                <MudListItem>Serving Size</MudListItem>
            </MudPaper>

            <MudPaper Class="d-flex justify-end flex-column" Elevation="0">
                <MudListItem>Calories</MudListItem>
                <MudListItem>Carbohydrates, Proteins, and Fiber</MudListItem>
            </MudPaper>
        </MudPaper>
    </MudPaper>

    <MudPaper Width="33%" Class="mx-auto pr-0 pl-0 d-flex justify-center mt-16 border-solid border-4 mud-border-success" Outlined=true Square=true>

        <MudPaper Class="d-flex justify-center flex-row flex-grow-1 gap-4 mx-auto pr-1 pl-1" Elevation="0">
            <MudPaper Class="d-flex justify-start flex-column" Elevation="0">
                <MudListItem>Food</MudListItem>
                <MudListItem>Serving Size</MudListItem>
            </MudPaper>

            <MudPaper Class="d-flex justify-end flex-column" Elevation="0">
                <MudListItem>Calories</MudListItem>
                <MudListItem>Carbohydrates, Proteins, and Fiber</MudListItem>
            </MudPaper>
        </MudPaper>
    </MudPaper>
</MudContainer>





@code {
    MudForm form;
    MudTextField<string> food;
}
