@page "/"


    <MudItem Style="">
     <!-- <h1 style="text-align: center">NutriFinder</h1> -->  
    </MudItem>


<SearchBar/>
<MudContainer Fixed=true MaxWidth="MaxWidth.Medium">
    <FoodItems foodItem="Banjo-Kazooie" servingSize="3g" calories=80 carbs=3 protein=5 fiber=4/>
    <FoodItems foodItem="Banjo-Kazooie" servingSize="3g" calories=80 carbs=3 protein=5 fiber=4 />
</MudContainer>